@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <h1 class="display-4">Get A Joke</h1>
    <button onclick="getJoke()" class="display-6">Press Me</button>
    <p id="joke-container" class="display-6">Joke: </p>
</div>